ul { margin-left: 0px; }
ol { margin-left:0px; }
#cart-widget { width:170px; background:none; color:#474747; margin-top:0px; }
#cart-widget a { color:#474747; }
.productcol {  margin:3px 0px 0 10px; }
.productcol .product-details ul { margin-left:0px; }
.category-info .image {margin:4px 0px 0 0;}